@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.limiter {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.panel + .panel {
  margin-top: 8px;
}

strong {
  font-weight: 500;
}
