@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #F6F8F9;
  background-color: #252C32;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1A2024;
    background-color: #F7F8F8;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.limiter {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

button {
  font-family: inherit;
  cursor: pointer;
}
/*
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/

.panel + .panel {
  margin-top: 8px;
}

strong {
  font-weight: 500;
}